.main {
    margin: 0 auto;
    width: 1060px;
    height: 700px;
}

.control {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 200px;
    height: 40px;
    margin-left: -100px;
}

.control p {text-align: center;}
.control .btn {
    width: 100%;
    height: 40px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #d5d5d5;
    outline: none;
}

.control .btn-primary {
    color: #ffffff;
    background: #0066ff;
}

.control .btn-primary:hover {
	color: #ffffff;
    background: #0033ff;
}
