@charset utf-8;
.body {
        background-color: #F6F6F6;
    }
    
    .button {
        margin: 0px;
        padding: 0px;
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }
    
    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }
    
    .MyRect {}
    
    .MyText {
        fill: white;
        text-anchor: middle;
    }
    
    .pie {
        border: 1px solid #000;
        float: left;
        background-color: white;
    }
    
    .programform {
        border: 1px solid #000;
        margin-left: 20px;
        float: left;
        background-color: white;
    }
    
    .zhu {
        border: 1px solid #000;
        width: 600px;
        height: 600px;
        background-color: white;
        margin-left: 20px;
        float: left;
    }
    
    #mysort {
        margin-top: -40px;
    }
    
    .tooltip,
    .tooltip2 {
        position: absolute;
        width: 200px;
        height: auto;
        text-align: center;
        font-family: simsun;
        font-size: 14px;
        color: white;
        background-color: black;
        border-width: 2px solid black;
        border-radius: 5px;
    }
    
    .tooltip:after,
    .tooltip2:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 20%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-bottom: 12px solid black;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
    }
    
    .arcPath:hover {
        fill: orangered;
    }